<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
        >
    <testsuites>
        <testsuite name="unit">
            <directory suffix="Test.php">./tests/</directory>
            <exclude>./tests/e2e</exclude>
        </testsuite>
        <testsuite name="fpm">
            <file>./tests/e2e/Client.php</file>
            <directory suffix="Test.php">./tests/e2e/</directory>
            <exclude>./tests/e2e/SwooleResponseTest.php</exclude>
        </testsuite>
        <testsuite name="swoole">
            <file>./tests/e2e/Client.php</file>
            <file>./tests/e2e/ResponseTest.php</file>
            <file>./tests/e2e/SwooleResponseTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
